{% for animal, sound in animals.items() %}
Old MacDonald had a farm, E I E I O,
And on his farm he had a {{animal}}, E I E I O.
With a {{sound}} {{sound}} here and a {{sound}} {{sound}} there,
Here a {{sound}}, there a {{sound}}, everywhere a {{sound}} {{sound}}.
Old MacDonald had a farm, E I E I O.
{% endfor %}